* { font-family: 'Maple Mono NF CN', 'Segoe UI'; font-size: 12px; color: #cad3f5; }
.yasb-bar { background-color: #24273a; border-bottom: 1px solid #494d64; }
.widget { margin: 2px 3px; padding: 2px 7px; background-color: #363a4f; border-radius: 7px; }
.widget:hover { background-color: #494d64; }
.glazewm-workspaces .ws-btn { padding: 0 7px; color: #a5adcb; }
.glazewm-workspaces .ws-btn.active_populated,
.glazewm-workspaces .ws-btn.active_empty,
.glazewm-workspaces .ws-btn.focused_populated,
.glazewm-workspaces .ws-btn.focused_empty { color: #8aadf4; background: #363a4f; }
.cpu-widget .label { color: #a6da95; }
.disk-widget .label { color: #eed49f; }
.disk-widget .label.status-critical { color: #ed8796; }
.traffic-widget .label { color: #8bd5ca; }
.quick-launch-widget .label { color: #8aadf4; }
.control-center-widget .label { color: #f5bde6; font-weight: 600; }
.clock-widget .label { color: #f5bde6; }
